/* made to be big screen first which is >1008px */

.pdf-page-text {
  font-size: 3rem !important;
  text-align: center;
}

.pdf-btn {
  width: 15vw;
  font-size: 3rem;
  border-radius: 15px;
  color: white;
  background-color: rgb(235, 72, 72);
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1030px) {
  
}

@media only screen and (min-width: 1031px) and (max-width: 1450px) {
}