/* made to be big screen first which is >1008px */

.achiropita-container {
  min-height: 86vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .achiropita-container {
    min-height: 85%;
    align-items: flex-start;
  }
  
}