/* made to be big screen first which is >1008px */

.home-container {
  height: 90%;
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-deck {
  max-width: 80%;
}

.card-content {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.card-content:hover {
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
}

.card-text p {
  font-size: 2.2rem;
}

.card-title {
  font-size: 3rem !important;
}

.card-link {
  font-size: 2.5rem;
}

.card-img {
  height: 30vh;
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {

  .card-deck {
    max-width: 80%;
    flex-direction: column !important;
  }

  .card-content {
    margin-bottom: 3vh !important;
  }

  .card-text p {
    font-size: 2rem;
  }
  
  .card-title {
    font-size: 2.5rem !important;
  }
  
  .card-link {
    font-size: 2.5rem;
  }

}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1030px) {

  .card-deck {
    max-width: 60%;
    flex-direction: column !important;
  }

  .card-content {
    margin-bottom: 3vh !important;
  }

  .card-text p {
    font-size: 3rem;
  }
  
  .card-title {
    font-size: 3.5rem !important;
  }
  
  .card-link {
    font-size: 3rem;
  }

}

@media only screen and (min-width: 1031px) and (max-width: 1450px) {

  .home-container {
    padding-top: 3%;
  }

  .card-deck {
    width: 80%;
  }

  .card-text p {
    font-size: 1.8rem;
  }
  
  .card-title {
    font-size: 2.2rem !important;
  }
  
  .card-link {
    font-size: 1.8rem;
  }

}