.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}

.app-title {
  font-size: 60px;
  color: rgb(37, 147, 117);
  /* color: rgb(228, 83, 83); */
}

.btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-menu {
  /* height: 200px; */
  /* width: 300px; */
  /* background-color: blueviolet; */
  /* color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.card-deck {
  max-width: 85%;
}

.card-text {
  font-size: 14px;
}

.btn-menu span {
  background-color: rgba(0, 0, 0, 0.687);
  color: white;
}

.btn-img {
  height: 40vh;
}