/* made to be big screen first which is >1008px */

.navbar-container {
  height: 10vh;
  background-color: rgb(37, 147, 117);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.title-container {
  display: flex;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 5rem;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.icon {
  color: white;
  font-size: 7rem;
}

.app-subtitle {
  font-family: 'Pinyon Script', cursive;
  margin-left: 4rem;
  font-size: 6rem;
  color: yellow;
}

.icon-home {
  margin-left: 2vw;
}

.icon-menu {
  margin-right: 2vw;
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
  .app-title {
    font-size: 2rem;
  }

  .app-subtitle {
    font-size: 3rem;
  }

  .icon {
    font-size: 3rem;
  }
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .app-title {
    font-size: 2rem;
  }

  .app-subtitle {
    font-size: 3rem;
  }

  .icon {
    font-size: 3rem;
  }

}

@media only screen and (min-width: 1008px) and (max-width: 1400px) {
  .app-title {
    font-size: 3rem;
  }

  .app-subtitle {
    font-size: 4rem;
  }

  .icon {
    font-size: 4rem;
  }

}