.navbar-container {
  height: 10vh;
  /* background-color: gray; */
  background-color: rgb(37, 147, 117);
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.app-title {
  font-size: 40px;
  color: white;
  margin: 0 0 0 10vw;
  font-family: 'Roboto', sans-serif;
}

.app-subtitle {
  font-family: 'Pinyon Script', cursive;
  margin-left: 35px;
  font-size: 30px;
}

.icon-home {
  font-size: 40px;
  color: white;
  margin-left: 2vw;
}