/* made to be big screen first which is >1008px */

.footer-container {
  height: 5vh;
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  
}