/* made to be big screen first which is >1008px */

.footer {
  background-color: rgba(0, 92, 103, 0.8);
  height: 2vh;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.footer p {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7); 
}

.footer p .footer-heart {
  margin: 0 3px; 
}

.footer p .footer-site {
  margin: 0 3px;
  color: rgba(255, 255, 255, 0.7); 
}

.footer p .footer-site:hover {
  color: orange; 
}
  
.footer p .footer-moon {
  margin: 0 2px; 
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  
}