.submenu-container {
  height: 60vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.btn-menu {
  width: 20vw;
}

.menu-block {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}