/* made to be big screen first which is >1008px */

.submenu-container {
  height: 84vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.submenu-text-container {
  margin-top: 2vh;
  min-height: 84vh !important;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 84vh;
}

.btn-text-container {
  max-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 3vw;
}

.submenu-item-container {
  margin: 1vh 2vw;
  display: flex;
  justify-content: center;
}

.item-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn-menu {
  width: 40vw;
  font-size: 3.3rem !important;
}

.btn-text-menu {
  width: 25vw;
  min-height: 10vh;
  font-size: 3.3rem !important;
  margin: 0 4vw 4vh 0;
}

.menu-block {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-resource {
  margin-top: 3vh;
  width: 90%;
  display: flex;
}

.submenu-image {
  /* align-self: center; */
}

/* responsivity to small screens */
@media only screen and (max-width: 640px) {
  .submenu-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .submenu-text-container {
    margin-top: 2vh;
    min-height: 84vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-container {
    flex-wrap: nowrap;
    min-height: 84vh;
    justify-content: flex-start;
  }
  
  .btn-text-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3vw;
    flex-wrap: nowrap;
  }
  
  .btn-menu {
    width: 80vw;
    font-size: 2rem !important;
  }
  
  .btn-text-menu {
    width: 80vw;
    min-height: 6vh;
    font-size: 2.3rem !important;
    margin: 0 2vw 2vh 0;
  }
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1030px) {

  .submenu-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .submenu-text-container {
    margin-top: 2vh;
    min-height: 84vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .btn-container {
    flex-wrap: nowrap;
    min-height: 84vh;
    justify-content: flex-start;
  }
  
  .btn-text-container {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 3vw;
    flex-wrap: nowrap;
  }
  
  .btn-menu {
    width: 80vw;
    font-size: 4rem !important;
  }
  
  .btn-text-menu {
    width: 80vw;
    min-height: 6vh;
    font-size: 3.5rem !important;
    margin: 0 2vw 2vh 0;
  }
}

@media only screen and (min-width: 1031px) and (max-width: 1450px) {
  .submenu-text-container {
    margin-top: 4vh;
    min-height: 84vh !important;
  }

  .submenu-item-container {
    margin: 1vh 1vw;
  }

  .btn-container {
    width: 95vw;
    max-height: 84vh;
    justify-content: center;
  }
  
  .btn-text-container {
    max-height: 80vh;
    padding-left: 2vw;
  }

  .btn-menu {
    width: 45vw;
    font-size: 2.5rem !important;
  }

  .btn-text-menu {
    width: 29vw;
    min-height: 10vh;
    font-size: 3rem !important;
    margin: 0 1vw 2vh 0;
  }
}