.side-menu {
  position: fixed;
  width: 8vw;
  min-height: 45vh;
  /* background-color: yellow; */
  top: 30vh;
  left: 1vw;
}

.nav-side-menu {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.side-menu-btn {
  border-radius: 30px !important;
  width: 100px;
  height: 100px;
  font-size: 20px !important;
  background-color: #bf265d !important;
}