.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(186, 186, 186);
}

.section-menu {
  width: 300px;
  height: 100px;
  background-color: purple;
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
}