@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&family=Pinyon+Script&family=Roboto:wght@100;300;400;500&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(186, 186, 186);
}

.section-menu {
  width: 300px;
  height: 100px;
  background-color: purple;
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.card-groups {
  width: 27vw;
  height: 60vh;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(235, 72, 72);
}

.card-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-item-link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(45, 45, 45);
}

.card-item-link:hover {
  text-decoration: none;
  font-size: 22px;
  color: rgb(37, 147, 117);
}