@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&family=Pinyon+Script&family=Roboto:wght@100;300;400;500&display=swap');

/* made to be big screen first which is >1008px */
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(186, 186, 186);
}

.section-menu {
  width: 300px;
  height: 100px;
  background-color: purple;
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.card-groups {
  width: 27vw;
  height: 60vh;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(235, 72, 72);
}

.card-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-item-link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(45, 45, 45);
}

.card-item-link:hover {
  text-decoration: none;
  font-size: 22px;
  color: rgb(37, 147, 117);
}


/* responsivity to small screens */
@media only screen and (max-width: 640px) {
}

/* responsivity to medium screens */
@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .section-menu {
    width: 300px;
    height: 100px;
    background-color: purple;
    color: white;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  .card-groups {
    width: 27vw;
    height: 60vh;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(235, 72, 72);
  }
  
  .card-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card-item-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(45, 45, 45);
  }
  
  .card-item-link:hover {
    text-decoration: none;
    font-size: 22px;
    color: rgb(37, 147, 117);
  }
}



/* @media (min-width:320px) { smartphones, portrait iPhone, portrait 480x320 phones (Android) } */
/* @media (min-width:480px) { smartphones, Android phones, landscape iPhone } */
/* @media (min-width:600px) { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) } */
/* @media (min-width:801px) { tablet, landscape iPad, lo-res laptops ands desktops } */
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops } */
